:root{
    --color-break-background-hover: #7f906e;
    --sound-color-border: rgba(51, 51, 51, 0.3);
    --sound-color-border-hover: rgba(128, 128, 128, 1); 
    --sound-color:rgb(71, 71, 71) ;
    --sound-color-hover: rgb(75, 74, 74);
}

*{  background-color: rgb(240, 234, 234);
    font-family:"M Plus Rounded 1c", sans-serif;
}
.App_Container{
    display: flex;
    gap: 20vh;
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 15vh;
}
.PomodoroIcon{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 200px;
    height: 200px;
}
.PomodoroImage_img{
    position: absolute;
    margin-top: 22px;
    margin-left: 27px;
    background:transparent;
    width: 65%;
    z-index: 2;
    cursor:pointer;
    animation-duration: 1.2s;
    animation-name: Floating;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.PomodoroIcon_shadow{
    position: absolute;
    top: 75%;
    left: 30%;
    width: 13.5vh;
    height: 1vh;
    z-index: 1;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.45);
    margin-top: 3vh;
    filter: blur(5px);
    animation-duration: 1.945s;
    animation-name: shadowFloating;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.PomodoroControls{
    margin-top: -1vh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2vh;
    background-color: transparent;
}
.PomodoroControlsbutton{
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    border-radius: 3.5vh;
    border: none;
    margin: 0px;
}
.PomodoroControlsbutton:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}
#middleButton{
    margin-top: 9%;
}
.PomodoroControlsImg{
    margin-top: 0.5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.Timer{
    display: block;
    place-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60vh;
}
.currentTask{
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 33px;
    line-height: 33px;
}
.timerCount{
    color: black;
    width: fit-content;
    font-weight: bolder;
    font-size: 17vh;
    text-align: center;
    padding: 0;
    margin: 0px;
    height:min-content;
    vertical-align: middle;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    border: none;
}
.timerControls_Pomodoro{
    display: flex;
    gap: 1vh;
}
.timerControls{
    color: white;
    font-weight: 600;
    font-size: 1em;
    border: none;
    min-width: 16vh;
    min-height: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 25px;
    cursor: pointer;
}
.timerControls_Pomodoro button:hover{
    filter: contrast(120%);
    transform: scale(1.08);
}
.musicControl{
    position: relative;
    display: inline-block;
    color: var(--sound-color);
    text-align: center;
    font-size: smaller;
    border: var(--sound-color-border) 1px solid;
    border-radius: 20px;
    gap: 2.5vh;
    margin-top: 2vh;
}
.musicControl button{
    font-size: smaller;
    font-weight: 500;
    color: var(--sound-color);
    background-color: transparent;
    border: none;
    gap: 2.5vh;
    display: flex;
}
.musicControl Img{
    background-color: transparent;
    width: 3vh;
    cursor: pointer;
}
.songsList {
    margin-bottom: 1.5vh;
    justify-items: left;
    background: transparent;
    display: none;
    position: absolute;
}
.songsList li{
    display: block;
    margin-left: 3vh;
    cursor: pointer;
    list-style-type: none;
    background: transparent;
    font-size:small;
}
.songsList li:hover{
    transition: transform 0.2s ease-in-out;
    background-color: rgb(221, 221, 221);
}
@keyframes Floating{
    from{

    }to{
        transform: translateY(12px);
    }
}
@keyframes shadowFloating{
    from{

    }to{
        transform: scaleX(0.7);
        background: rgba(0, 0, 0, 1);
    }
}